<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>clubabend</title>
    <script src="./bower_components/angular/angular.min.js" charset="utf-8"></script>
    <script src="./bower_components/angular-route/angular-route.min.js" charset="utf-8"></script>
    <script src="./bower_components/chance/dist/chance.min.js" charset="utf-8"></script>

    <script src="./misc/prototypes.js"></script>
    <script src="./models/CAPlugin.js"></script>
    <script src="./models/Member.js"></script>
    <script src="./models/Format.js"></script>
    <script src="./models/Debate.js"></script>

    <script src="./main.js" charset="utf-8"></script>

    <script src="./sections/settings/settingsCtrl.js"></script>
    <script src="./sections/generation/generationCtrl.js"></script>
    <script src="./services/services.js"></script>

    <link rel="stylesheet" href="./bower_components/photon/dist/css/photon.min.css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="./main.css" media="screen" title="no title" charset="utf-8">
  </head>
  <body ng-app="clubabend" ng-controller="navCtrl">
    <div class="window">
      <div class="window-content">
        <div class="pane-group">
          <div class="pane-sm sidebar">
            <nav class="nav-group">
              <h5 class="nav-group-title">Navigaton</h5>
              <a class="nav-group-item" href="#/" ng-class="{active:isActive('/')}">
                <span class="icon icon-sound"></span>
                Generate Debates
              </a>
              <a class="nav-group-item" href="#/settings" ng-class="{active:isActive('/settings')}">
                <span class="icon icon-cog"></span>
                Settings
              </a>
            </nav>
          </div>
          <div class="pane" ng-view>Loading main view...</div>
        </div>
      </div>
      <div class="errorListWrapper" ng-show="displayErrors">
        <h4>Errors</h4>
        <p ng-repeat="error in errors">{{error}}</p>
      </div>
      <footer class="toolbar toolbar-footer" ng-class="{red:guiError}">
        {{guiError}} <span class="pull-right errorIcon" ng-show="errors.length > 0" ng-click="showErrors()"><span class="icon icon-attention"></span>{{errors.length}}</span>
      </footer>
    </div>
  </body>
</html>
