<table class="table-striped">
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Author</th>
      <th>Formate</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="plugin in plugins" ng-click="setActivePlugin($index)" ng-class="{green:plugin.name == activePlugin.name}">
      <td><input type="checkbox" ng-checked="plugin.name == activePlugin.name"></td>
      <td>{{plugin.name}}</td>
      <td>{{plugin.author}}</td>
      <td><b ng-repeat="format in plugin.compatibleFormats">{{format}} </b></td>
    </tr>
  </tbody>
</table>
