<div class="overlay">
  <button class="btn btn-mini btn-default" ng-click="generateMembers()">Generate</button>
</div>
<div class="pane-group">
  <div class="pane">
    <ul class="list-group memberList">
      <li class="list-group-header">
        <input class="form-control" type="text" placeholder="Search for someone" ng-model="searchQuery">
      </li>
      <li class="list-group-item" title="{{member.id}}" ng-repeat="member in members | filter: searchQuery | orderBy: 'lastname' track by member.id">
        <div class="memberInfo" ng-class="{inactive: member.tmp.inDebate}">
          <strong>{{member.firstname}} {{member.lastname}}</strong>
        </div>
        <div class="debateSelect" ng-hide="member.tmp.inDebate">
          <select class="form-control" ng-model="member.tmp.format" ng-options="format.name for format in formats track by format.name"></select>
          <select class="form-control" ng-model="member.tmp.role" ng-options="role.name for role in member.tmp.format.roles"></select>
          <button class="btn btn-mini btn-positive" ng-class="{inactive: !member.tmp.format || !member.tmp.role}" ng-click="addAttendant(member)">Add</select>
          </div>
        </li>
        <li class="list-group-item">
          <i>{{members.length}} Members</i>
        </li>
      </ul>
    </div>
    <div class="pane">
      <ul class="list-group">
        <li class="list-group-header">
          <input class="form-control" type="text" placeholder="Search for someone" ng-model="searchQuery2">
        </li>
        <li class="list-group-item">
          <i>{{attendants.length}} People here tonight</i>
        </li>
        <li class="list-group-item" ng-click="showAttendant($index)" ng-repeat="id in attendants | filter: searchQuery2">
          <div class="media-body attendantWrapper" ng-init="attendant = memberByID(id)">
            <div class="attendantName">
              <strong>{{attendant.firstname}} {{attendant.lastname}}</strong>
            </div>
            {{attendant.tmp.role.name}}
            {{attendant.tmp.format.name}}
          </div>
        </li>
      </ul>
    </div>
  </div>
